@{
	ViewData["Title"] = "Thêm Mới Phiếu Nhập";
}
@model EasyBuy_Frontend_Admin.Models.InventoryVoucherViewModel
@using EasyBuy_Frontend_Admin.Models.Enums;


<!-- CSS riêng cho lớp con -->
@section Styles {
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/plugins/light/tomSelect/custom-tomSelect.css")">
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/plugins/dark/tomSelect/custom-tomSelect.css")">
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/plugins/tomSelect/tom-select.default.min.css")">

	<link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/plugins/flatpickr/flatpickr.css")">
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/plugins/dark/flatpickr/custom-flatpickr.css")">
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/plugins/light/flatpickr/custom-flatpickr.css")">
}

<div>
	<!-- BREADCRUMB -->
	<div class="page-meta">
		<nav class="breadcrumb-style-one" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Phiếu nhập</a></li>
				<li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "InventoryVoucher")">Quản lý Phiếu nhập</a></li>
				<li class="breadcrumb-item active" aria-current="page">Thêm mới Phiếu nhập</li>
			</ol>
		</nav>
	</div>
	<!-- /BREADCRUMB -->

	<div class="layout-top-spacing col-12">
		<a href="@Url.Action("Index", "InventoryVoucher")" class="btn">
			Trở lại
		</a>

	</div>

	<div class="row layout-top-spacing">
		<div id="user-management" class="col-lg-12 layout-spacing">
			<div class="statbox widget box box-shadow">
				<div class="widget-header">
					<div class="row">
						<div class="col-xl-12 col-md-12 col-sm-12 col-12">
							<h4>Thêm mới</h4>
						</div>
					</div>
				</div>
				<div class="widget-content widget-content-area">
					<div class="col-12">
						<form asp-action="Create" id="general-settings" method="POST">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Tên nhà cung cấp<strong class="text-danger">*</strong></label>

										<select id="supplier" 
											asp-for="SupplierId" 
											asp-items="ViewBag.Suppliers"
											class="form-control @(ViewData.ModelState["SupplierId"]?.Errors?.Count > 0 ? "is-invalid" : "")"
											placeholder="Chọn nhà cung cấp" 
											autocomplete="off">
											<option value="">Chọn nhà cung cấp...</option>
										</select>
										<span asp-validation-for="SupplierId" class="invalid-feedback" role="alert"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Tổng cộng<strong class="text-danger">*</strong></label>
										<textarea asp-for="Total"
												  id="description"
												  class="form-control @(ViewData.ModelState["Total"]?.Errors.Count > 0 ? "is-invalid" : "")"
												  placeholder="Tổng cộng">
										</textarea>
										<span asp-validation-for="Total" class="invalid-feedback" role="alert"></span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="date">Ngày nhập<strong class="text-danger">*</strong></label>
										<input asp-for="Date" id="date" type="date" placeholder="Ngày nhập"
											   class="form-control @(ViewData.ModelState["Date"]?.Errors?.Count > 0 ? "is-invalid" : "")" />
										<span asp-validation-for="Date" class="invalid-feedback" role="alert"></span>
									</div>
								</div>
							</div>

							<button type="submit" class="btn btn-primary">Hoàn tất</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>

<!-- Scripts riêng cho lớp con -->
@section Scripts {
	<script src="@Url.Content("~/lib/plugins/tomSelect/tom-select.base.js")"></script>
	<script src="@Url.Content("~/lib/plugins/tomSelect/custom-tom-select.js")"></script>

	<script src="@Url.Content("~/lib/plugins/flatpickr/flatpickr.js")"></script>
	<script src="@Url.Content("~/lib/plugins/flatpickr/custom-flatpickr.js")"></script>

	<script>
		$(document).ready(function () {
			new TomSelect("#supplier", {
				create: true,
				sortField: {
					field: "text",
					direction: "asc"
				}
			});

		});

	</script>

	<script>
		flatpickr("#date", {
			enableTime: true,
			dateFormat: "Y-m-d H:i",
			minDate: "today",
		});
	</script>
}