@{
	ViewData["Title"] = "Chỉnh Sửa Nhà cung cấp";
}
@model EasyBuy_Frontend_Admin.Models.SupplierViewModel
@using EasyBuy_Frontend_Admin.Models.Enums;


<!-- CSS riêng cho lớp con -->
@section Styles {

}

<div>
	<!-- BREADCRUMB -->
	<div class="page-meta">
		<nav class="breadcrumb-style-one" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Nhà cung cấp</a></li>
				<li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "Supplier")">Quản lý Nhà cung cấp</a></li>
				<li class="breadcrumb-item active" aria-current="page">Chỉnh sửa nhà cung cấp</li>
			</ol>
		</nav>
	</div>
	<!-- /BREADCRUMB -->

	<div class="layout-top-spacing col-12">
		<a href="@Url.Action("Index", "Supplier")" class="btn">
			Trở lại
		</a>

	</div>

	<div class="row layout-top-spacing">
		<div id="user-management" class="col-lg-12 layout-spacing">
			<div class="statbox widget box box-shadow">
				<div class="widget-header">
					<div class="row">
						<div class="col-xl-12 col-md-12 col-sm-12 col-12">
							<h4>Chỉnh sửa</h4>
						</div>
					</div>
				</div>
				<div class="widget-content widget-content-area">
					<div class="col-12">
						<form asp-action="Edit" id="general-settings" method="POST">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Tên<strong class="text-danger">*</strong></label>
										<input asp-for="Name"
											   type="text"
											   id="name"
											   class="form-control @(ViewData.ModelState["Name"]?.Errors.Count > 0 ? "is-invalid" : "")"
											   placeholder="Tên Nhà cung cấp">
										<span asp-validation-for="Name" class="invalid-feedback" role="alert"></span>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Số điện thoại <strong class="text-danger">*</strong></label>
										<input asp-for="NumberPhone"
											   type="text"
											   id="NumberPhone"
											   class="form-control @(ViewData.ModelState["NumberPhone"]?.Errors.Count > 0 ? "is-invalid" : "")"
											   placeholder="Số điện thoại">
										<span asp-validation-for="NumberPhone" class="invalid-feedback" role="alert"></span>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Địa chỉ <strong class="text-danger">*</strong></label>
										<input asp-for="Address"
											   type="text"
											   id="name"
											   class="form-control @(ViewData.ModelState["Address"]?.Errors.Count > 0 ? "is-invalid" : "")"
											   placeholder="Địa chỉ">
										<span asp-validation-for="Name" class="invalid-feedback" role="alert"></span>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Email <strong class="text-danger">*</strong></label>
										<input asp-for="Email"
											   type="text"
											   id="name"
											   class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")"
											   placeholder="Email">
										<span asp-validation-for="Name" class="invalid-feedback" role="alert"></span>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Trạng thái <strong class="text-danger">*</strong></label>
										<select asp-for="Status" id="Status"
												class="form-control @(ViewData.ModelState["Status"]?.Errors?.Count > 0 ? "is-invalid" : "")"
												asp-items="Html.GetEnumSelectList<SupplierStatus>()">
											<option value="">Chọn</option>

										</select>
										<span asp-validation-for="Status" class="invalid-feedback" role="alert"></span>
									</div>
								</div>

							</div>

							<button type="submit" class="btn btn-primary">Hoàn tất</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>

<!-- Scripts riêng cho lớp con -->
@section Scripts {

}