@{
	ViewData["Title"] = "Thêm Mới Danh Mục";
}
@model EasyBuy_Frontend_Admin.Models.CategoryViewModel
@using EasyBuy_Frontend_Admin.Models.Enums;


<!-- CSS riêng cho lớp con -->
@section Styles {

}

<div>
	<!-- BREADCRUMB -->
	<div class="page-meta">
		<nav class="breadcrumb-style-one" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Danh mục</a></li>
				<li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "Category")">Quản lý danh mục</a></li>
				<li class="breadcrumb-item active" aria-current="page">Thêm mới danh mục</li>
			</ol>
		</nav>
	</div>
	<!-- /BREADCRUMB -->

	<div class="layout-top-spacing col-12">
		<a href="@Url.Action("Index", "Category")" class="btn">
			Trở lại
		</a>

	</div>

	<div class="row layout-top-spacing">
		<div id="user-management" class="col-lg-12 layout-spacing">
			<div class="statbox widget box box-shadow">
				<div class="widget-header">
					<div class="row">
						<div class="col-xl-12 col-md-12 col-sm-12 col-12">
							<h4>Thêm mới</h4>
						</div>
					</div>
				</div>
				<div class="widget-content widget-content-area">
					<div class="col-12">
						<form asp-action="Create" id="general-settings" method="POST">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Tên danh mục <strong class="text-danger">*</strong></label>
										<input asp-for="Name"
											   type="text"
											   id="name"
											   class="form-control @(ViewData.ModelState["Name"]?.Errors.Count > 0 ? "is-invalid" : "")"
											   placeholder="Tên danh mục">
										<span asp-validation-for="Name" class="invalid-feedback" role="alert"></span>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Mô tả <strong class="text-danger">*</strong></label>
										<textarea asp-for="Description"
												  id="description"
												  class="form-control @(ViewData.ModelState["Description"]?.Errors.Count > 0 ? "is-invalid" : "")"
												  placeholder="Mô tả">
										</textarea>
										<span asp-validation-for="Description" class="invalid-feedback" role="alert"></span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-4">
										<label for="user">Trạng thái <strong class="text-danger">*</strong></label>
										<select asp-for="Status" id="Status"
												class="form-control @(ViewData.ModelState["Status"]?.Errors?.Count > 0 ? "is-invalid" : "")"
												asp-items="Html.GetEnumSelectList<CategoryStatus>()">
											<option value="">Chọn</option>
											
										</select>
										<span asp-validation-for="Status" class="invalid-feedback" role="alert"></span>
									</div>
								</div>
								
							</div>

							<button type="submit" class="btn btn-primary">Hoàn tất</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>

<!-- Scripts riêng cho lớp con -->
@section Scripts {

}