@{
    Layout = null;
}
@model EasyBuy_Frontend_Admin.Dtos.Auth.SignInDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>SignIn Cover | CORK - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/layouts/modern-light-menu/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="~/css/layouts/modern-light-menu/dark/loader.css" rel="stylesheet" type="text/css" />

    <link href="~/css/layouts/modern-light-menu/light/structure.css" rel="stylesheet" type="text/css" />
    <link href="~/css/layouts/modern-light-menu/dark/structure.css" rel="stylesheet" type="text/css" />

    <link href="~/css/assets/dark/main.css" rel="stylesheet" type="text/css" />
    <link href="~/css/assets/light/main.css" rel="stylesheet" type="text/css" />

    <script src="~/js/layouts/modern-light-menu/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">

    <link href="~/css/layouts/modern-light-menu/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/css/assets/light/authentication/auth-cover.css" rel="stylesheet" type="text/css" />

    <link href="~/css/layouts/modern-light-menu/dark/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/css/assets/dark/authentication/auth-cover.css" rel="stylesheet" type="text/css" />

    <link href="~/lib/plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />

    <link href="~/lib/plugins/light/sweetalerts2/custom-sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/plugins/dark/sweetalerts2/custom-sweetalert.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

</head>
<body class="form">

    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->

    <div class="auth-container d-flex">

        <div class="container mx-auto align-self-center">

            <div class="row">

                <div class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column">
                    <div class="auth-cover-bg-image"></div>
                    <div class="auth-overlay"></div>

                    <div class="auth-cover">

                        <div class="position-relative">

                            <img src="~/images/auth-cover.svg" alt="hình ảnh đăng nhập">

                            <h2 class="mt-5 text-white font-weight-bolder px-2">Mua sắm dễ dàng với EASY-BUY</h2>

                        </div>

                    </div>

                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center ms-lg-auto me-lg-0 mx-auto">
                    <div class="card">
                        <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <h2>Đăng nhập</h2>
                                        <p>Nhập email và mật khẩu của bạn để đăng nhập</p>
                                    </div>
                                    <form method="POST" asp-action="SignIn" asp-controller="Auth">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label">Email <strong class="text-danger">*</strong></label>
                                                <input type="email" 
                                                    asp-for="Email"
                                                   class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                                    
                                                >
                                            <span asp-validation-for="Email" class="invalid-feedback" role="alert"></span>
                                        </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-4">
                                                <label class="form-label">Mật khẩu <strong class="text-danger">*</strong></label>
                                                <input type="password" 
                                                    asp-for="Password"
                                                   class="form-control @(ViewData.ModelState["Password"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                                    
                                                >
                                            <span asp-validation-for="Password" class="invalid-feedback" role="alert"></span>
                                        </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <div class="form-check form-check-primary form-check-inline">
                                                    <input class="form-check-input me-3" type="checkbox" id="form-check-default">
                                                    <label class="form-check-label" for="form-check-default">
                                                        Ghi nhớ đăng nhập
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="mb-4">
                                                <button type="submit" class="btn btn-secondary w-100">ĐĂNG NHẬP</button>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="col-12">
                                        <div class="text-center">
                                            <p class="mb-0">Bạn chưa có tài khoản? <a href="@Url.Action("SignUp", "Auth")" class="text-warning">Đăng ký</a></p>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/lib/plugins/notification/snackbar/snackbar.min.js"></script>
    <script src="~/lib/plugins/sweetalerts2/sweetalerts2.min.js"></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <div>
        @if (TempData["Success"] != null)
        {
            <script>
                Snackbar.show({
                    text: '@TempData["Success"]',
                    textColor: '#ddf5f0',
                    backgroundColor: '#00ab55',
                    actionText: 'Bỏ qua',
                    actionTextColor: '#3b3f5c'
                });
            </script>
        }
    </div>

    <div>
        @if (TempData["Error"] != null)
        {
            <script>
                Snackbar.show({
                    text: '@TempData["Error"]',
                    textColor: '#fbeced',
                    backgroundColor: '#e7515a',
                    actionText: 'Bỏ qua',
                    actionTextColor: '#3b3f5c'
                });
            </script>
        }
    </div>

</body>

</html>